/* *{
    border: 2px solid red;
} */
body{
    margin: 0;
}
header{
    height: 80px;
    display: flex;
    justify-content: space-between;
    box-shadow: 1px 2px 50px rgba(128, 128, 128, 0.618);
}
/* .options{
    width: 50%;
    display: flex;
    align-items: center;
} */
.ca-btn{
    background-color: white;
    font-size: 20px;
}
.ca-btn:hover{
    color: orangered;
}
.btn{
    font-size: 30px;
}
.px{
    padding-left: 150px;
    padding-right: 150px;
}
.location{
    border: none;
}
.logo:hover{
    color: orangered;
}
.food-content{
    height: 250px;
}